.UpdateProfile {
	width: 100vw;
	height: 100vh;
	background-color: white;
	position: fixed;
	top: 0%;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.updateProfileformBox {
	width: 25%;
	margin: auto;
	box-shadow: 1px 0.8px 4px 0.5px;
	padding: 0;
	padding-bottom: 1.5vmax;

	position: absolute;
	overflow: hidden;
}

.Form {
	padding: 0.6vmax;
	margin: auto;
}

.updateProfileHeading {
	padding: 1.5vmax 0.8vmax 0vmax;
}

.updateProfileHeading > p > span {
	color: tomato;
}

.updateProfileHeading {
	font: 400 1.8vmax "Nunito Sans", sans-serif;
	color: rgba(0, 0, 0, 0.678);
	transition: all 0.5s;
	text-align: center;
}
.loginTitle {
	color: tomato;
	font: 400 2.5vmax "Nunito Sans", sans-serif;
}

.Form > div > label {
	font: 300 1.1vmax "Roboto";
}

.updateProfilesubmitButton {
	width: 100%;
	background-color: tomato !important;
	color: white !important;
}

.Form > div > input {
	outline: none !important;
	border: 0.5px solid grey !important;
	box-shadow: none !important;
}
.Form > div > div > div > input {
	outline: none !important;
	border: 0.5px solid grey !important;
	box-shadow: none !important;
}
.Form > div > a {
	text-decoration: none;
}

.avatar {
	width: 4vmax;
	height: 2.8vmax;
	border-radius: 50%;
}
.Form > div > div > div > input::file-selector-button {
	cursor: pointer;
	width: 112%;

	border: none;

	font: 400 0.8vmax cursive;
	transition: all 0.5s;
	padding: 0.7vmax 1vmax;
	color: rgba(0, 0, 0, 0.623);
	background-color: rgb(255, 255, 255);
}
.Form > div > div > div > input::file-selector-button:hover {
	background-color: rgb(235, 235, 235);
}
.loginAccount:hover {
	color: tomato;
	text-decoration: underline;
}
.registerAccount:hover {
	color: tomato;
	text-decoration: underline;
}
.submitButton {
	background-color: var(--secondary) !important;
	color: white !important;
}

@media screen and (min-width: 768px) and (max-width: 1290px) {
	.updateProfileformBox {
		width: 35vmax;
		margin: auto;

		box-shadow: 1px 0.8px 4px 0.5px;
		padding: 0;
		padding-bottom: 1.5vmax;

		position: absolute;
	}
	.pattern1 {
		top: -2.5%;
		right: -10%;
		transform: rotate(45deg);
	}
	.pattern2 {
		top: 94%;
		left: -10%;
		transform: rotate(225deg);
	}
	.Form > div > div > div > input::file-selector-button {
		font: 400 1.4vmax cursive;
	}
	.avatar {
		width: 5vmax;
		height: 3vmax;
	}
}

@media screen and (max-width: 768px) {
	.updateProfileformBox {
		width: 45vmax;
		/* margin: auto; */
		margin-bottom: 15vmax;
		box-shadow: 1px 0.8px 4px 0.5px;
		padding: 0;
		padding-bottom: 1.5vmax;

		position: absolute;
		overflow: hidden;
	}

	.pattern1 {
		top: -2.5%;
		right: -10%;
		transform: rotate(45deg);
	}
	.pattern2 {
		top: 94%;
		left: -10%;
		transform: rotate(225deg);
	}
	.Form > div > div > div > input::file-selector-button {
		font: 400 1.4vmax cursive;
	}
	.avatar {
		width: 6.5vmax;
		height: 5vmax;
	}
}
